<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="NewApp.Properties.Settings.WPFRetailConnectionString"
      connectionString="Data Source==HOMEPC\HOMEPC;Initial Catalog=NewAppDb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="WPFRetailOfficeConnectionString" value="Data Source=LP-54EE750FAD6C;Initial Catalog=NewAppDb;Integrated Security=True" />
    <add key="WPFRetailHomeConnectionString" value="Data Source=HOMEPC\HOMEPC;Initial Catalog=NewAppDb;Integrated Security=True" />
    <add key="HomeOrOffice" value="O" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="NewBinding" openTimeout="00:02:00" receiveTimeout="00:10:00"
          sendTimeout="00:02:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="WCFRetailService.SQLDataAccess">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NewBinding"
          contract="WCFRetailService.IDataAccessService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WCFRetailService/SQLDataAccess/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFRetailService.CustomerFactory">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NewBinding"
          contract="WCFRetailService.ICustomerFactory">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WCFRetailService/CustomerFactory/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFRetailService.DiscountFactory">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NewBinding"
          contract="WCFRetailService.IDiscountFactory">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WCFRetailService/DiscountFactory/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFRetailService.DiscountItemFactory">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NewBinding"
          contract="WCFRetailService.IDiscountItemFactory">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WCFRetailService/DiscountItemFactory/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFRetailService.CustomerStatusFactory">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NewBinding"
          contract="WCFRetailService.ICustomerStatusFactory">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WCFRetailService/CustomerStatusFactory/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFRetailService.CustomerTypeFactory">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NewBinding"
          contract="WCFRetailService.ICustomerTypeFactory">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WCFRetailService/CustomerTypeFactory/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFRetailService.DiscountTypeFactory">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NewBinding"
          contract="WCFRetailService.IDiscountTypeFactory">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WCFRetailService/DiscountTypeFactory/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFRetailService.GenderTypeFactory">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NewBinding"
          contract="WCFRetailService.IGenderTypeFactory">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WCFRetailService/GenderTypeFactory/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFRetailService.IDProofTypeFactory">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NewBinding"
          contract="WCFRetailService.IIDProofTypeFactory">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WCFRetailService/IDProofTypeFactory/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFRetailService.ManufacturerFactory">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NewBinding"
          contract="WCFRetailService.IManufacturerFactory">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WCFRetailService/ManufacturerFactory/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFRetailService.ManufacturerStatusFactory">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NewBinding"
          contract="WCFRetailService.IManufacturerStatusFactory">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WCFRetailService/ManufacturerStatusFactory/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFRetailService.SaleFactory">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NewBinding"
          contract="WCFRetailService.ISaleFactory">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WCFRetailService/SaleFactory/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFRetailService.SaleItemFactory">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NewBinding"
          contract="WCFRetailService.ISaleItemFactory">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WCFRetailService/SaleItemFactory/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFRetailService.StoreItemFactory">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NewBinding"
          contract="WCFRetailService.IStoreItemFactory">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WCFRetailService/StoreItemFactory/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFRetailService.TaxFactory">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NewBinding"
          contract="WCFRetailService.ITaxFactory">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WCFRetailService/TaxFactory/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFRetailService.TaxItemFactory">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NewBinding"
          contract="WCFRetailService.ITaxItemFactory">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WCFRetailService/TaxItemFactory/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFRetailService.TaxKindFactory">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NewBinding"
          contract="WCFRetailService.ITaxKindFactory">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WCFRetailService/TaxKindFactory/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFRetailService.TaxTypeFactory">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NewBinding"
          contract="WCFRetailService.ITaxTypeFactory">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WCFRetailService/TaxTypeFactory/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFRetailService.UserFactory">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NewBinding"
          contract="WCFRetailService.IUserFactory">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WCFRetailService/UserFactory/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFRetailService.UserStatusFactory">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NewBinding"
          contract="WCFRetailService.IUserStatusFactory">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WCFRetailService/UserStatusFactory/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFRetailService.UserTypeFactory">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NewBinding"
          contract="WCFRetailService.IUserTypeFactory">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WCFRetailService/UserTypeFactory/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFRetailService.VendorFactory">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NewBinding"
          contract="WCFRetailService.IVendorFactory">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WCFRetailService/VendorFactory/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFRetailService.VendorStatusFactory">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NewBinding"
          contract="WCFRetailService.IVendorStatusFactory">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WCFRetailService/VendorStatusFactory/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFRetailService.DiscountKindFactory">
        <endpoint binding="wsHttpBinding" bindingConfiguration="NewBinding"
          contract="WCFRetailService.IDiscountKindFactory" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WCFRetailService/DiscountKindFactory/" />
          </baseAddresses>
          <timeouts openTimeout="00:02:00" />
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
