<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="NewApp.Properties.Settings.NewAppConnectionString"
      connectionString="Data Source=HOME-PC\SQLEXPRESS;Initial Catalog=NewAppDb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="NewAppOfficeConnectionString" value="Data Source=HOME-PC\SQLEXPRESS;Initial Catalog=NewAppDb;Integrated Security=True" />
    <add key="NewAppHomeConnectionString" value="Data Source=HOMEPC\HOMEPC;Initial Catalog=NewAppDb;Integrated Security=True" />
    <add key="HomeOrOffice" value="O" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <NetFx40_LegacySecurityPolicy enabled="false" />
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="MyNewBinding" closeTimeout="00:02:00" openTimeout="00:02:00"
          sendTimeout="00:02:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="WSHttpBinding_IDiscountKindFactory" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ICustomerFactory" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFRetailService/DiscountKindFactory/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDiscountKindFactory"
        contract="DiscountKindFactorySvc.IDiscountKindFactory" name="WSHttpBinding_IDiscountKindFactory">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFRetailService/CustomerFactory/"
        binding="wsHttpBinding" bindingConfiguration="MyNewBinding"
        contract="CustomerFactorySvc.ICustomerFactory" name="WSHttpBinding_ICustomerFactory">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFRetailService/CustomerStatusFactory/"
        binding="wsHttpBinding" bindingConfiguration="MyNewBinding"
        contract="CustomerStatusFactorySvc.ICustomerStatusFactory" name="WSHttpBinding_ICustomerStatusFactory">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFRetailService/CustomerTypeFactory/"
        binding="wsHttpBinding" bindingConfiguration="MyNewBinding"
        contract="CustomerTypeFactorySvc.ICustomerTypeFactory" name="WSHttpBinding_ICustomerTypeFactory">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFRetailService/DiscountFactory/"
        binding="wsHttpBinding" bindingConfiguration="MyNewBinding"
        contract="DiscountFactorySvc.IDiscountFactory" name="WSHttpBinding_IDiscountFactory">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFRetailService/DiscountItemFactory/"
        binding="wsHttpBinding" bindingConfiguration="MyNewBinding"
        contract="DiscountItemFactorySvc.IDiscountItemFactory" name="WSHttpBinding_IDiscountItemFactory">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFRetailService/DiscountTypeFactory/"
        binding="wsHttpBinding" bindingConfiguration="MyNewBinding"
        contract="DiscountTypeFactorySvc.IDiscountTypeFactory" name="WSHttpBinding_IDiscountTypeFactory">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFRetailService/GenderTypeFactory/"
        binding="wsHttpBinding" bindingConfiguration="MyNewBinding"
        contract="GenderTypeFactorySvc.IGenderTypeFactory" name="WSHttpBinding_IGenderTypeFactory">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFRetailService/IDProofTypeFactory/"
        binding="wsHttpBinding" bindingConfiguration="MyNewBinding"
        contract="IDProofTypeFactorySvc.IIDProofTypeFactory" name="WSHttpBinding_IIDProofTypeFactory">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFRetailService/ManufacturerFactory/"
        binding="wsHttpBinding" bindingConfiguration="MyNewBinding"
        contract="ManufFactorySvc.IManufacturerFactory" name="WSHttpBinding_IManufacturerFactory">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFRetailService/ManufacturerStatusFactory/"
        binding="wsHttpBinding" bindingConfiguration="MyNewBinding"
        contract="ManufStatusFactorySvc.IManufacturerStatusFactory"
        name="WSHttpBinding_IManufacturerStatusFactory">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFRetailService/SaleFactory/"
        binding="wsHttpBinding" bindingConfiguration="MyNewBinding"
        contract="SaleFactorySvc.ISaleFactory" name="WSHttpBinding_ISaleFactory">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFRetailService/SaleItemFactory/"
        binding="wsHttpBinding" bindingConfiguration="MyNewBinding"
        contract="SaleItemFactorySvc.ISaleItemFactory" name="WSHttpBinding_ISaleItemFactory">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFRetailService/SQLDataAccess/"
        binding="wsHttpBinding" bindingConfiguration="MyNewBinding"
        contract="SQLDataAccessFactorySvc.IDataAccessService" name="WSHttpBinding_IDataAccessService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFRetailService/StoreItemFactory/"
        binding="wsHttpBinding" bindingConfiguration="MyNewBinding"
        contract="StoreItemFactorySvc.IStoreItemFactory" name="WSHttpBinding_IStoreItemFactory">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFRetailService/TaxFactory/"
        binding="wsHttpBinding" bindingConfiguration="MyNewBinding"
        contract="TaxFactorySvc.ITaxFactory" name="WSHttpBinding_ITaxFactory">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFRetailService/TaxItemFactory/"
        binding="wsHttpBinding" bindingConfiguration="MyNewBinding"
        contract="TaxItemFactorySvc.ITaxItemFactory" name="WSHttpBinding_ITaxItemFactory">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFRetailService/TaxKindFactory/"
        binding="wsHttpBinding" bindingConfiguration="MyNewBinding"
        contract="TaxKindFactorySvc.ITaxKindFactory" name="WSHttpBinding_ITaxKindFactory">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFRetailService/TaxTypeFactory/"
        binding="wsHttpBinding" bindingConfiguration="MyNewBinding"
        contract="TaxTypeFactorySvc.ITaxTypeFactory" name="WSHttpBinding_ITaxTypeFactory">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFRetailService/UserFactory/"
        binding="wsHttpBinding" bindingConfiguration="MyNewBinding"
        contract="UserFactorySvc.IUserFactory" name="WSHttpBinding_IUserFactory">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFRetailService/UserStatusFactory/"
        binding="wsHttpBinding" bindingConfiguration="MyNewBinding"
        contract="UserStatusFactorySvc.IUserStatusFactory" name="WSHttpBinding_IUserStatusFactory">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFRetailService/UserTypeFactory/"
        binding="wsHttpBinding" bindingConfiguration="MyNewBinding"
        contract="UserTypeFactorySvc.IUserTypeFactory" name="WSHttpBinding_IUserTypeFactory">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFRetailService/VendorFactory/"
        binding="wsHttpBinding" bindingConfiguration="MyNewBinding"
        contract="VendorFactorySvc.IVendorFactory" name="WSHttpBinding_IVendorFactory">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFRetailService/VendorStatusFactory/"
        binding="wsHttpBinding" bindingConfiguration="MyNewBinding"
        contract="VendorStatusFactorySvc.IVendorStatusFactory" name="WSHttpBinding_IVendorStatusFactory">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>